*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'M PLUS 1p', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap');

.conteiner {
    max-width: 1125px;
    margin: 0 auto;
    padding: 5px;
    
}

.section-header {
    width: 100%;
    
}

.header-content {
   width: 100%;
   height: 90px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #F8F8F8;
   box-shadow: 2px 4px 6px 0px rgba(194, 192, 192, 0.25);

   &__inp {
    margin-right: 30px;
    background:#ECECEC ;
    max-width: 80%;
    max-height:30%
}
   &__inp input{
    background: transparent;
    border: none ;
   
   }
   &__btn  {
    color: black;
    text-decoration:none;
   }
   &__btn:hover  {
    color:red;
   }
}

.cards-img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    &__card {
        flex: 0 0 32%;
        margin-bottom: 10px;
        height: 250px;
        display: flex;
        flex-direction: column;
        &-top {
            flex: 0 0 80%;
        }
        &-bottom {
            flex: 0 0 20%;
        }
        &-top img {
            width: 100%;
        }
    }
}
.remove{
    position: relative;
    left: 21rem;
    top: 30px;
    border:0,5px solid lawngreen;
}
.footer{
    display: flex;
    background: black;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left:30px ;
    margin-right:50px ;
    width: 1300px;
    height: 450px;
    
    &__title{
        color: #F8F8F8;
        
    }
}
#list{
    color: #F8F8F8;
    margin-left:10px ;
}