.jiraya{
  width:400px;
  border: 2px solid blue;
  color: aqua;
  font-size: 25px;
  padding: 25px;
}
.naruto{
  width:400px;
  border: 2px solid yellow;
  color:red;
  font-size: 25px;
  padding: 25px;
}
.green{
  width:400px;
  border: 2px solid green;
  color:black;
  font-size: 25px;
  padding: 25px;
}